@model List<StayAzerbaijan.Entities.Transfer>

@{
    ViewData["Title"] = "Index";
}

<div class="transport-section">
    <div class="text-header">
        <h5>#maşınbizdən</h5>
        <h1>Transfer xidmətləri</h1>
        <p>İstənilən istiqamətə və nəfər sayına uyğun </br> ən təhlükəsiz transferi bizdən əldə et.</p>
    </div>
</div>

<div class="prices-section">
    <div class="price-header">
        <h3>Qiymət və təkliflər:</h3>
    </div>
    <div class="cars-section">
        @foreach (var transfer in Model)
        {
            <div class="standart-car">
                <div class="top">
                    <img src="@Url.Content($"~/assets/images/{transfer.Image}")" class="car-img" />
                    <p class="name">@transfer.Name</p>
                    <div class="line"></div>
                </div>

                <div class="people-count">
                    <img src="../assets/icons/people.svg" class="people" /><p>Nəfər sayı: @transfer.PaxCount</p>
                </div>
                <div class="car-price">
                    <img src="../assets/icons/price.svg" class="price-icon" /><p class="price">Gediş-dönüş: @transfer.Price ₼</p>
                </div>
                <div class="car-model">
                    <img src="../assets/icons/car.svg" class="model" />
                    <p class="model-name">@transfer.Description</p>
                </div>
            </div>
        }
    </div>
</div>

<div class="transfer-info">
    <div class="info-container">
    </div>
</div>
