@model StayAzerbaijan.ViewModels.SearchResultViewModel
@{
    ViewData["Title"] = "Searchresult";
}


    <div class="results">
        <div class="header-text">
            <h1>Axtarış nəticələri </h1>
        </div>
    </div>
    <div class="main-results">
        <div class="left-bar">
            <form>
            <div class="qiymet">
                <label for="price-range">Qiymət aralığı: <span id="price-label">0 AZN</span> - <span id="price-label-max">10000 AZN</span></label>
                <div class="range-container">
                    <input type="range" class="form-range" min="0" max="300" id="price-range" style="z-index:2 ;">
                    <input type="range" class="form-range" min="300" max="10000" id="price-range-max">
                </div>
            </div>

                <div class="category-box">
                    <p class="category">Kateqoriya</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="luxury">
                        <label class="form-check-label" for="luxury">Luxury</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="honeymoon">
                        <label class="form-check-label" for="honeymoon">Bal ayı</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="family-friendly">
                        <label class="form-check-label" for="family-friendly">Ailəvi</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="beach-front">
                        <label class="form-check-label" for="beach-front">Dəniz kənarı</label>
                    </div>
                </div>
                <div class="meal-type">
                    <p class="category">Qidalanma</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="BB">
                        <label class="form-check-label" for="BB">BB (səhər yeməyi)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="HB">
                        <label class="form-check-label" for="HB">HB (gündə 2 dəfə)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="FB">
                        <label class="form-check-label" for="FB">FB (gündə 3 dəfə)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="RO">
                        <label class="form-check-label" for="RO">RO (yalnız otaq)</label>
                    </div>
                </div>
                <button class="submit-search">Təsdiqlə</button>
            </form>
        </div>
    <div class="hotel-results-container">
        @foreach (var hotel in Model.FilteredHotels)
        {
            <div class="hotel-container">
                <div class="left-side">
                    <img src="~/../assets/images/@hotel.MainImgUrl" />
                </div>
                <div class="right-part">
                    <div class="name-and-star">
                        <div class="first">
                            <h5 class="name">@hotel.Name</h5>
                            <div class="ratingstars">
                                @for (int i = 0; i < hotel.Star; i++)
                                {
                                    <img src="~/../assets/icons/star.svg" id="hotel-star" />
                                }
                            </div>
                        </div>
                        <div class="second">
                            <h5>@hotel.Star</h5>
                        </div>
                    </div>
                    <p class="location">Məkan: @hotel.Location</p>
                    <p class="category">Kateqoriya: @(hotel.HotelCategories != null ? string.Join(", ", hotel.HotelCategories.Where(c => c.Category != null).Select(c => c.Category.Name)) : "Uyğun kateqoriya yoxdu")</p>
                    <div class="room-price-info">
                        <div class="left">
                            <p class="room">Otaq: @(hotel.Rooms != null && hotel.Rooms.Any() ? hotel.Rooms.First().Name : "Uyğun otaq tapılmadı")</p>
                            <p class="bed-type">Yataq: @(hotel.Rooms != null && hotel.Rooms.Any() ? hotel.Rooms.First().BedType : "Uyöun yataq yoxdur")</p>
                            <p class="meal-plan">Qidalanma: @(hotel.HotelMealTypes != null && hotel.HotelMealTypes.Any() ? string.Join(", ", hotel.HotelMealTypes.Where(mt => mt.MealType != null).Select(mt => mt.MealType.Name)) : "Qidalanma yoxdur")</p>
                            <p class="cancellation-policy">Ləğv edilmə: Bu rezervasiya ləğv edilə bilməz</p>
                        </div>
                        <div class="right">
                            <div class="nights-pax">
                                <p class="date">Check-in: @Model.CheckInDate.ToShortDateString()</p>
                                <p class="date">Check-out: @Model.CheckOutDate.ToShortDateString()</p>
                                <p class="nights">@Model.CheckOutDate.Subtract(Model.CheckInDate).Days gecə</p>
                                <p class="pax-number">@Model.AdultCount adl + @Model.ChildCount chd</p>
                            </div>
                            @{
                                int numberOfNights = (int)(Model.CheckOutDate - Model.CheckInDate).TotalDays;
                                decimal totalPrice = hotel.Rooms.Any() ? hotel.Rooms.First().Price * numberOfNights : 0;
                            }
                            <p class="total-price">@totalPrice AZN</p>
                            <a href="#">Rezervasiya et</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


    </div>




